[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]



[packages]

tensorflow = "==1.15.4"
keras = "*"
flask = "*"
requests = "*"
pillow = "*"
sklearn = "*"


[requires]

