<!DOCTYPE html>
<html>
<head>
	<title>Pawfect Match</title>
</head>
<body>
	<h1>Welcome! Find your perfect dog doppelganger</h1>
	<form method="POST">
		<select name="sex">
  			<option value="male">Male</option>
  			<option value="female">Female</option>
	  	</select>
	  	<select name="size">
  			<option value="small">Small</option>
  			<option value="medium">Medium</option>
  			<option value="large">Large</option>
  			<option value="xlarge">X-Large</option>
	  	</select>
	  	<select name="age">
  			<option value="baby">Baby</option>
  			<option value="young">Young</option>
  			<option value="adult">Adult</option>
  			<option value="senior">Senior</option>
	  	</select>
	  	<input type="submit">
	</form>
</body>
</html>