<!DOCTYPE html>
<html>
<head>
	<title>Pawfect Match</title>
</head>
<body>
	<h1>Welcome! Find your perfect dog doppelganger</h1>
	<form method="POST">
		<input type="text" placeholder="New York, NY" name="location">
		<select name="size">
  			<option value="S">Small</option>
  			<option value="M">Medium</option>
  			<option value="L">Large</option>
  			<option value="Xl">X-Large</option>
	  	</select>
		<select name="sex">
  			<option value="M">Male</option>
  			<option value="F">Female</option>
	  	</select>
	  	<select name="age">
  			<option value="Baby">Baby</option>
  			<option value="Young">Young</option>
  			<option value="Adult">Adult</option>
  			<option value="Senior">Senior</option>
	  	</select>
	  	<input type="submit">
	</form>
</body>
</html>